@font-face {
  font-family: "Outfit";
  src: url("fonts/Outfit-Regular.eot");
  src: url("fonts/Outfit-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Outfit-Regular.woff2") format("woff2"),
    url("fonts/Outfit-Regular.woff") format("woff"),
    url("fonts/Outfit-Regular.ttf") format("truetype"),
    url("fonts/Outfit-Regular.svg#Outfit") format("svg");
}
.fs-13{font-size: 13px!important;}
.fs-14{font-size: 14px!important;}
*{box-sizing: border-box;}
.l{box-shadow: inset 0 0 2px red;}
.ma0{margin: 0px!important;}
.mt0{margin-top: 0px!important;}.mb0{margin-bottom: 0px!important;}
.mt5{margin-top: 5px!important;}.mb5{margin-bottom: 5px!important;}
.mt8{margin-top: 8px!important;}.mb8{margin-bottom: 0px!important;}
.mt10{margin-top: 10px!important;}.mb10{margin-bottom: 10px!important;}
.mt15{margin-top: 15px!important;}.mb15{margin-bottom: 15px!important;}
.mt20{margin-top: 20px!important;}.mb20{margin-bottom: 20px!important;}
.mt25{margin-top: 25px!important;}.mb25{margin-bottom: 25px!important;}
.mt30{margin-top: 30px!important;}.mb30{margin-bottom: 30px!important;}
.mt40{margin-top: 40px!important;}.mb40{margin-bottom: 40px!important;}

.w_100_f{width: 100px!important;}.w_100_m{max-width: 100px!important;}
.w_150_f{width: 150px!important;}.w_150_m{max-width: 150px!important;}
.w_200_f{width: 200px!important;}.w_200_m{max-width: 200px!important;}
.w_250_f{width: 250px!important;}.w_250_m{max-width: 250px!important;}
.w_300_f{width: 300px!important;}.w_300_m{max-width: 300px!important;}
.w_350_f{width: 350px!important;}.w_350_m{max-width: 350px!important;}
.w_400_f{width: 400px!important;}.w_400_m{max-width: 400px!important;}
.w_450_f{width: 450px!important;}.w_450_m{max-width: 450px!important;}
.w_500_f{width: 500px!important;}.w_500_m{max-width: 400px!important;}
input,select,textarea{
  border-radius:3px!important;
  box-shadow: none!important;
  outline: none!important;
  -webkit-border-radius:3px!important;
  -moz-border-radius:3px!important;
  -ms-border-radius:3px!important;
  -o-border-radius:3px!important;
  height: 34px;
  font-size: 14px;
}
textarea{
  height: auto;
}
/* .loginForm input,.loginForm select{
  height: 38px;
} */
input.searchicon[type="text"] {
  padding-left: 30px !important;
  background-image: url('../images/icon/search.svg');
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 14px;
}
.form-switch .form-check-input{
   border-radius:2em!important; -webkit-border-radius:2em!important; -moz-border-radius:2em!important; -ms-border-radius:2em!important; -o-border-radius:2em!important; 
   width: 2.8em!important;
   height: 24px!important;
  }
input:hover,input:focus,select:focus,select:hover,textarea:hover,textarea:focus{border-color: #FECA40!important;}
.req_star{
  color: indianred;
  font-weight: bold;
}
.required{
  position: relative;
  padding-left: 10px;
}
.required::before {
  position: absolute;
  left: 0px;
  top: 0px;
  content: "*";
  font-weight: bold;
  color: indianred;
}
.form-check-input[type="radio"] {
  border-radius: 50% !important;
}
.form-select{
  /* color: #999!important; */
  padding-top: 3px;
  background-position: right .3rem center;
}
.form-check-input:checked {
  background-color: #FECA40!important;
  border-color: #FECA40!important;
}
.form-check-input{margin-top: 2px!important;}
.linkcolor a{color: inherit!important;}
.btn{
  border-radius: 3px!important;
  -webkit-border-radius: 3px!important;
  -moz-border-radius: 3px!important;
  -ms-border-radius: 3px!important;
  -o-border-radius: 3px!important;
}
.form-group{margin-bottom: 20px;}
/* .form-group{margin-bottom: 15px;} */
::-webkit-input-placeholder {color:#ccc!important;}
::-moz-placeholder {color:#ccc!important;}
::-ms-input-placeholder {color:#ccc!important;}
::placeholder {color:#ccc!important;}
:root {
  --background-color: #FFFFFF;
  --text-color: #282828;
  --primary-background:#FECA40;
  --primary-border:#FECA40;
  --white-text: #ffffff;
  --secondary-background:#272B35;
  --secondary-border:#272B35;
}
.a_color,.a_color:hover{color: #FECA40!important;}
.text_u{text-decoration: none!important;}
.block{display: block;width: 100%;}
.dividerline{
  height: 1px;
  background-color: #eee;
  margin-top: 45px;
  margin-bottom: 25px;
}
body {
  margin: 0;
  color: var(--text-color);
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-variant: tabular-nums;
  line-height: 1.3;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  background-color: #f4f5f6;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, strong{
  color: var(--text-color)!important;
}
.bold{font-weight: bold!important;}
.wrapper{min-height: calc(100vh - 50px);}
.ekcard{
  background:#fff;
  -webkit-box-shadow:0 10px 30px 0 rgba(211,211,211,.3);
  box-shadow:0 10px 30px 0 rgba(211,211,211,.3);
  border-radius:6px;
}
/* --footer-- */
.loginfooter{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  opacity: 0.75;
}
/* end footer */


.my25{margin: 20px 0 25px 0;}
/* -----------login--------- */
.loginform{
  width: 100%;
  max-width:560px;
  margin:50px 0px 30px 0px;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  padding:50px;
  padding-top: 30px;
}
.userico,.pwdico{
  background-repeat: no-repeat;
  background-position: left 10px center;
  padding-left: 34px;
}
.userico{background-image: url('../images/icon/user.png');}
.pwdico{background-image: url('../images/icon/pwd.png');}
.btnekomn,.btnekomn:hover{
  box-shadow: none;
  border-color: var(--primary-border);
  background-color: var(--primary-background);
  color: var(--white-text);
  transition: .15s ease-in-out;
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -ms-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
}
.btnekomn_dark,.btnekomn_dark:hover{
  box-shadow: none;
  border-color: var(--secondary-border);
  background-color: var(--secondary-background);
  color: var(--white-text);
  transition: .15s ease-in-out;
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -ms-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
}
.btnekomn:hover,.btnekomn-border:hover,.btnekomn_dark:hover{opacity: 0.85;}
.btnekomn-border,.btnekomn-border:hover{
  background-color: #FFFFFF;
  box-shadow: none;
  border-color: var(--primary-border);
  color: var(--primary-border);
  transition: .15s ease-in-out;
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -ms-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
}
.btn-login{height: 38px;}
.brand-logo{
  margin-bottom: 45px;
  text-align: center;
}
.brand-logo img{
  width: 100%;
  max-width: 164px;
}
.SellerText{
  font-weight: bold;
  margin-left: 9px;
  font-size: 22px;
  padding-top: 10px;
  opacity: 0.25;
  word-spacing: 0.0rem;
}
.ssologin,.ssologin:hover{
  background-image: url('../images/icon/google.png');
  border: 1px solid #eee2e6;
  text-align: left;
  background-repeat: no-repeat;
  background-position: left 10px center;
  padding-left: 50px;
  color: #828282;
  background-color: #fdfdfd;
}
.ssologin:hover{
  background-color: #f0f0f0;
}
.orline {
  color: #999;
  font-size: 17px;
  overflow: hidden;
  text-align: center;
  margin: 35px 0px;
}
.orline span {
  display: inline-block;
  position: relative;
}
.orline span::before, .orline span::after {
  content: "";
  height: 1px;
  position: absolute;
  top: 12px;
  background-color: #eee;
  width: 10000px;
  box-sizing: border-box;
}
.orline span::before {
  margin-right: 15px;
  right: 100%;
}
.orline span::after {
  left: 100%;
  margin-left: 15px;
}
.login-wrapper{
  width: 100%;
  padding-right: 560px;
  position: relative;
  height: 100vh;
}
.login-container{
  width: 100%;
  max-width: 560px;
  background-color: #fff;
  height: 100vh;
  position: fixed;
  right: 0px;
  top: 0px;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  overflow: hidden;
  overflow-y: auto;
  z-index: 100;
}
.loginForm{
  min-height: calc(100vh - 50px);
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  padding:50px;
  padding-top: 40px;
}
.loginForm.register{
  padding: 30px 50px 20px 50px;
}
.loginForm.register .brand-logo{margin-bottom: 30px;}
.loginForm.register .orline{margin: 30px 0px 20px 0;}
.logincarousel .sliderImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logincarousel .carousel-item{
  height: 100vh;
}
.telbox select {
  width: 60px;
  background-color: #fafafa;
  border-radius: 3px 0px 0px 3px !important;
  border-right: none;
}
.telbox input {
  border-radius: 0px 3px 3px 0px !important;
}
.emptybox{
  min-height: calc(100vh - 330px);
}
.ExcellenText {
  margin-bottom: 5px;
}     
.sup_section_2,.sup_section_3,.sup_section_4{
  display: none;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
.show_section_2,.show_section_3,.show_section_4{
  display: block;
  transform: translateX(0);
}
.ack_q_l li{
  margin-bottom: 20px;
}
.ek_s_h {
  font-size: 17px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
}
.ack_q_w {
  width: calc(100% - 50px);
  font-weight: normal !important;
  color: inherit;
}
.qt_inp{
  width: 50px;
  height: 23px;
  padding: 0px 4px;
  font-size: 0.75rem;
}
.listnone {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.categoryList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.categoryList > li {
  width: 33.33%;
  min-width: 140px;
  margin: 6px 0px 0px 0px;
}
/* #0E2332 */
.chooseoneinput{position: relative;}
.chooseone{
  position: absolute;
  left: calc(50% - 10px);
  font-size: 14px;
  width: 20px;
  padding: 0px;
  display: flex;
  height: 38px;
  align-items: center;
  justify-content: center;
  font-style: italic;
  opacity: 0.5;
}
.ek_round{ border-radius:24px!important ; -webkit-border-radius:24px!important ; -moz-border-radius:24px!important ; -ms-border-radius:24px!important ; -o-border-radius:24px!important ; }
.thankYoubox {
  padding: 50px 30px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 360px;
  margin-top: 30px;
}
.thank_h1 {
  font-size: 30px;
  font-weight: 900;
  color: #38b543 !important;
  margin-top: 30px;
}
.svg-success {
  display: inline-block;
  vertical-align: top;
  height: 64px;
  width: 64px;
  opacity: 1;
  overflow: visible;
}
@keyframes success-tick {
  0% {
    stroke-dashoffset: 16px;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 31px;
    opacity: 1;
  }
}
@keyframes success-circle-outline {
  0% {
    stroke-dashoffset: 72px;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0px;
    opacity: 1;
  }
}
@keyframes success-circle-fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.svg-success .success-tick {
  fill: none;
  stroke-width: 1px;
  stroke: #38b543;
  stroke-dasharray: 15px, 15px;
  stroke-dashoffset: -14px;
  animation: success-tick 450ms ease 1400ms forwards;
  opacity: 0;
}
.svg-success .success-circle-outline {
  fill: none;
  stroke-width: 1px;
  stroke: #38b543;
  stroke-dasharray: 72px, 72px;
  stroke-dashoffset: 72px;
  animation: success-circle-outline 300ms ease-in-out 800ms forwards;
  opacity: 0;
}
.svg-success .success-circle-fill {
  fill: #fff;
  stroke: none;
  opacity: 0;
  animation: success-circle-fill 300ms ease-out 1100ms forwards;
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .svg-success .success-tick {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    animation: none;
    opacity: 1;
  }
  .svg-success .success-circle-outline {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    animation: none;
    opacity: 1;
  }
  .svg-success .success-circle-fill {
    animation: none;
    opacity: 1;
  }
}
.thankYou {
  display: flex;
  align-items: center;
  justify-content: center;
}
.t_u_s {
  display: none;
}
@media(max-width:767px){
  .loginForm,.loginForm.register{
    padding: 24px;padding-top: 30px;
  }
  /* .emptybox{min-height: auto;} */
  .loginform{margin: 0px;padding: 24px;}
  .login-wrapper{padding-right: 0px;}
  #carouselExampleFade{display: none;}
}

/* Pricing page */
.pricing-block .inner-box {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
  padding: 0 0 0px;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 15px solid #40cbb4;
  border-radius: 10px;
  padding-bottom: 20px;
  overflow: hidden;
}
.pricing-block .icon-box {
  position: relative;
  padding: 40px 30px 0;
  background-color: #40cbb4;
  text-align: center;
}  
.pricing-block .icon-box:before {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
  border-radius: 50% 50% 0 0;
  background-color: #ffffff;
  content: "";
}
.pricing-block .icon-box .icon-outer {
  position: relative;
  height: 120px;
  width: 120px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 auto;
  padding: 10px;
}
.pricing-block .icon-box i {
  position: relative;
  display: block;
  height: 100px;
  width: 100px;
  line-height: 90px;
  border: 5px solid #40cbb4;
  border-radius: 50%;
  font-size: 50px;
  color: #40cbb4;
  -webkit-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  transition: all 600ms ease;
}
.pricing-block .inner-box:hover .icon-box i {transform: rotate(360deg);}
.pricing-block .price-box {
  position: relative;
  text-align: center;
  padding: 1px 20px;
}
.pricing-block .title {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 1.2em;
  color: #222222;
  font-weight: 600;
}
.pricing-block .price {
  display: block;
  font-size: 24px;
  color: #222222;
  font-weight: 700;
  color: #40cbb4;
}
.pricing-block .features {position: relative;padding: 0px 15px;}
.pricing-block .features li {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #848484;
  font-weight: 500;
  padding: 8px 0;
  padding-left: 30px;
  border-bottom: 1px dashed #dddddd;
}
.pricing-block .features li:before {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 16px;
  color: #2bd40f;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  margin-top: -8px;
}
.pricing-block .features li.false:before {color: #e1137b;content: "\f057";}
.pricing-block .features li a {color: #848484;}
.pricing-block .features li:last-child {border-bottom: 0;}
.pricing-block .btn-box {position: relative;text-align: center;}
.pricing-block .btn-box a {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 500;
  padding: 8px 30px;
  background-color: #40cbb4;
  border-radius: 10px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 300ms ease;
}
.pricing-block .btn-box a:hover {color: #ffffff;}
.pricing-block .inner-box:hover .btn-box a {
  color: #40cbb4;
  background: none;
  border-radius: 0px;
  border-color: #40cbb4;
}
.pricing-block:nth-child(3) .icon-box i,
.pricing-block:nth-child(3) .inner-box {
  border-color: #FECA40;
}
.pricing-block:nth-child(3) .btn-box a,
.pricing-block:nth-child(3) .icon-box {
  background-color: #FECA40;
}
.pricing-block:nth-child(3) .icon-box i,
.pricing-block:nth-child(3) .price {
  color: #FECA40;
}
.pricing-block:nth-child(3) .inner-box:hover .btn-box a {
  color: #FECA40;
  background: none;
  border-radius: 0px;
  border-color: #FECA40;
}
.promise_list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  font-size: 18px;
  justify-content: center;
  font-weight: bold;
  margin-top: 6px;
}
.sec__h{padding: 15px 15px 30px 15px;}
.fullbodyclose{
  position: relative;
}
.fullbodyclose .btn-close{
  position: absolute;
  top: 10px;
  right: 10px;
}
/* end Pricing */



/* ----pricing---- */
.AmazonSeller{
  font-size: 18px;
  margin-top: 50px;
  font-weight: bold;
}
.pricing-container{
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.features-list {
  display: flex;
  flex-wrap: wrap;
}
.feature-row{
  display: flex;
  width: 100%;
  padding: 11px;
  line-height: 100%;
  border-radius: 16px;
}
.feature-row:nth-child(odd) {
  background-color: #f4f4f4;
}
.features-list.priceList .feature-row:nth-child(odd) {
  background-color: transparent;
}
.features-list.priceList .feature-row{
  padding: 0px;
  position: relative;
  top: 25px;
}
.feature {
  flex: 1.5;
  padding: 0px 8px;
  font-weight: 500;
}
.feature-value {
  flex: 1;
  text-align: center;
  padding: 0px 10px;
}
.plan_details{
  border: 1px solid #ddd;
  display: block;
  padding: 20px 15px;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  height: 164px;
  background-color: #fff;
}
.plan_details h2{
  font-size: 23px;
  font-weight: bold;
  margin: 0px;
  line-height: 28px;
}
.plan_details .price{
  font-size: 16px;
  padding: 16px 0px;
  opacity: 0.75;
}
.subscribebtn{
  height: 34px;
  padding: 0px 15px;
  margin: 7px 0px;
  border-radius: 5px;
  color: #343D3A!important;
}
.plan_details.active {
  border-color: #343D3A;
  color: #fff;
  background-color: #343D3A;
  border-color: #343D3A;
  color: #fff;
}
.plan_details.bestplan{
  height: 212px;
  position: relative;
  top: -48px;
  padding-top: 54px;
  
}
.plan_details.bestplan.active{
  background-color: #343D3A;
  border-color: #343D3A;
  color: #fff;
}
.plan_details.bestplan.active .bestplanText{
  background-color: #FECA40;
  color: #343D3A;
}
.plan_details.active h2{color: #fff!important;}
.bestplanText{
  background-color: #343D3A;
  color: #FECA40;
  display: flex;
  position: absolute;
  width: calc(100% - 44px);
  height: 28px;
  border-radius: 24px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
  top: -14px;
}
.defaulPlan{
  display: flex;
  gap: 8px;
  align-items: center;
}
.SelectFeatures{
  height: 164px;
  position: relative;
  padding: 20px 34px 0px 4px;
}
.SelectFeatures::after{
  content: '';
  height: 100%;
  width: 1px;
  background-color: #e0fbf0;
  position: absolute;
  right: 8px;
  top: 0;
}
.SelectFeature{
  margin-top: 30px;
}
.SelectFeature select{
  border-radius: 24px!important;
  background-color: #fafafa;
  margin-top: 5px;
  height: 34px;
  padding-left: 20px;
}
/* end pricing */

/* dashboard */
.ek_db{background-color: #F5F5F9;}
.ek_nav{
  width: 250px;
  background-color: #363740;
  z-index: 1040;
  position: fixed;
  bottom: 0;
  top: 0;
  right: auto;
  overflow: hidden;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -moz-transition: -moz-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
  -o-transition: -o-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
  transition: transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
}
.ekheader{
  height: 58px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px 15px 8px 265px;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid rgba(224, 224, 224, 0.7);
}
.ek_dashboard{
  padding: 73px 15px 15px 265px;
  min-height: calc(100vh - 20px);
  box-sizing: border-box;
  position: relative;
}
.ek_dashboard .ek_db_footer{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -20px;
  padding-left: 250px;
  text-align: center;
  font-size: 0.85rem;
}
.profile {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  text-align: end;
}
.profile h3 {
  text-align: end;
  line-height: 1;
  margin-bottom: 4px;
  font-weight: 600;
}
.profile p {
  line-height: 18px;
  font-size: 14px;
  opacity: .6;
}
.profile .img-box {
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  overflow: hidden;
}
.profile .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user h4{
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
}
.brandLogo_d img{
  max-height: 40px;
  position: relative;
  top: -2px;
}
.sidebar-header{
  display: block;
  height: 58px;
  line-height: 58px;
  background-color: #272b35;
  color: #fff;
  width: 100%;
  padding: 0px 15px;
}
.sidebar-header img{
  filter: invert(100%);
  position: relative;
  top: -3px;
}
.sidebar-menu {
  height: calc(100% - 58px);
  position: relative;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.sidebar-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar-menu ul li a.nav-link{
  color: #b0b7c3;
  text-decoration: none;
  display: block;
  padding: 14px 15px;
  font-size: 15px;
  transition: background-color 0.3s, color 0.3s;
  border-left: 3px solid transparent;
  line-height: 18px;
}
.sidebar-menu ul li a.nav-link .menuIcon{
  width: 24px;
  text-align: center;
  transform: scale(1.1);
  margin-right: 10px;
  position: relative;
  top: 0.5px;
}
.sidebar-menu ul li a.nav-link:hover {
  background-color: #3c434f;
  color: #fff;
  border-left-color: #6c757d;
}
.sidebar-menu ul li a.nav-link.active {
  background-color: #3c434f;
  color: #fff;
  border-left-color:#ffffff;
}
.sidebar-menu .nav-link.nav-link-arrow{position: relative;}
.sidebar-menu .nav-link.nav-link-arrow .menu_arrowIcon{
  width: 20px;
  display: inline-block;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: 1px;
  transform: translateY(-50%);
}
.sidebar-menu .nav-link.nav-link-arrow .menu_arrowIcon i{transition: transform 0.3s;}
.nav-link.nav-link-arrow[aria-expanded="true"] .menu_arrowIcon i{transform: rotate(90deg);}
.sidebar-menu ul.sidenav-second-level{
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-menu ul.sidenav-second-level li a.nav-link{
  position: relative;
  padding-left: 50px;
  display: block;
}
.sidebar-menu ul.sidenav-second-level li a.nav-link::after{
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b0b7c3;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar-menu ul.sidenav-second-level li a.nav-link:hover,.sidebar-menu ul.sidenav-second-level li a.nav-link.active {
  background-color: transparent;
  color: #fff;
  border-left-color: transparent;
}
.sidebar-menu ul.sidenav-second-level li a.nav-link.active::after{background-color: #fff;}
.menutoggle{
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  position: fixed;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 1001;
}
.ekdropdown{
  border-radius: 4px!important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	box-sizing: border-box;
	border-top: 1px solid #ddd!important;
  margin-top: 8px!important;
  box-sizing: border-box;
}
.ekdropdown::after {
	content: "";
	position: absolute;
	top: -6px;
	width: 11px;
  height: 11px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  transform: rotate(-45deg);
  background-color: #fff;
  z-index: inherit;
}
.dropdown-menu-end.ekdropdown::after{right: 13px;}
.ekdropdown .dropdown-item{
  padding: 8px 16px!important;
  font-size: 15px;
  font-weight: normal;
}
/* ----------------- */
.ekcard {
  border: 1px solid #e8e8e8;
  border-radius: 4px !important;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.pa {
  padding: 18px;
}
.line_h {
  display: flex;
  align-items: baseline;
  position: relative;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.line_h .line {
  flex-grow: 1;
  height: 2px;
  border-bottom: 2px dotted #ddd;
  margin-left: 2px;
}
.pro_box_r {
  padding-right: 50px;
}

.ek_group {
  display: flex;
  flex-direction: row;
  /* margin-bottom: 20px; */
  margin-bottom: 15px;
}
.card_f_btn{min-width: 120px;}
.eklabel {
  width: 120px;
  line-height: 17px;
  height: 34px;
  display: flex;
  align-items: center;
  padding-right: 5px;
}
.eklabel_60{width: 60px;}
.eklabel_70{width: 70px;}
.ek_f_input {
  flex: 1;
}
.hide {
  display: none;
}
.t_d_none {
  text-decoration: none;
}
.fs-11 {
  font-size: 11px !important;
}
.uploadlabel {
  position: relative;
  left: -15px;
  opacity: 0.5;
  font-style: italic;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 34px;
}
.uploadlabel:hover {
  opacity: 0.75;
}
.uploadlabel .fileName {
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 3px;
}


.bankcontainer {
  background-color: #FCFCFC;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  padding-bottom: 5px;
  margin-bottom: 30px;
}
.w_100 {
  width: 100px;
}
.mb10 {
  margin-bottom: 10px !important;
}
label {
  margin-bottom: 2px !important;
}

.picture {
display: block;
cursor: pointer;
border: 1px dotted #ccc;
width: 100%;
height: 168px;
text-align: center;
background-color: #FCFCFC;
border-radius: 5px;
overflow: hidden;
box-sizing: border-box;
padding: 2px;
}
.picture__img {width: 100%;height: 100%;}
.picture__image_signature .picture__img{ object-fit: contain;}
.uploadText{
padding: 25px;
margin-top: 10px;
}
.uploadText i{font-size: 22px;color: #c0c0c0;}
.uploadText h4{
padding: 7px 0px 5px 0px;
margin: 0px;
font-size: 16px;
font-weight: bold;
}
.uploadText p{
font-size: 15px;
opacity: 0.5;
}
.r_color{color: indianred;}
.profilesection{padding-bottom: 20px;}
.profilesectionRight{padding-bottom: 30px;}
.saveform_footer{
  border-top: 1px dashed #ccc;
  padding-top: 25px;
  padding-bottom: 5px;
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}
.saveform_footer.single-button {
  justify-content: flex-end;
}
.form-check-input{margin-right: 4px;}
.form-select .form-control,.form-check-input{border: 1px solid #d0d0d0;}
.form-control,.form-select {
  padding-left: .5rem!important;
  padding-right: .5rem!important;
}
/* ------------------------ */
@media(max-width:1080px){
  .ek_nav{left: -250px;height: calc(100% - 57px); top: 57px;transition: 300ms;}
  .ek_dashboard{padding-left: 15px;}
  .ekheader{padding-left: 60px;}
  .ek_nav.active{left: 0px;}
  .sidebar-header,.brandLogo_d{display: none;}
  .ek_group{display: block;}
  .eklabel{height: auto;line-height: 14px;width: 100%;}
  .categoryList > li {width: 50%;}
  .ek_dashboard .ek_db_footer{padding-left: 0px;}
}
@media(max-width:576px){
  .pro_box_r{padding-right: 0px;}
  .categoryList > li {width: 100%;}
  .categoryList.mobile50 > li {width: 50%;}
  .uploadlabel{left: 0px;}
}
/* end dashboard */


/* normal table */
.sort_pos{
  display: block;
  width: 10px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -1px;
}
.sort_t{
  display: block;
  text-align: center;
  height: 22px;
  width: 10px;
  position: relative;
  line-height: 100%;
}
.sort_t i{
  font-size: 10px;
  transform: scaleY(1.8);
  position: absolute;
  color: rgba(0,0,0,0.25);
}
.sort_t i.fa-caret-down{bottom: 2px;right: 2px;}
.sort_t i.fa-caret-up{top: 2px;right: 2px;}
.normalTable .sort_pos{display: none;}
.normalTable.tableSorting thead tr th .sort_pos{display: block;}
.tres_border{border: 1px solid #f0f0f0;border-radius: 4px;}
.normalTable{width:100%;border-collapse: collapse;}
.normalTable.t_sticky thead tr th{
  position: sticky!important;
  top: 58px!important;
  z-index: 100;
}

th.h_sorting.active i{
  color: var(--dark-text-color)!important;
}
th.h_sorting.active.asc i.fa-caret-down{
  visibility: hidden;
  
}
th.h_sorting.active.desc i.fa-caret-up{
  visibility: hidden;
  
}
.normalTable.whitespace thead tr th{white-space: nowrap;}
.normalTable thead tr th{
  padding: 12px 13px!important;
  box-sizing: border-box;
  background-color: #F8F8F8;
  cursor: default;
  color: #4b4b4b;
  font-size: 15px;
  line-height: 17px;
  font-weight: 600;
  word-wrap: break-word;
  white-space: normal;
  width: auto;
 }
.tableSorting thead tr th{position: relative;}
.normalTable.tableSorting thead tr th{padding-right: 30px!important;}
.normalTable tbody tr td{
  padding: 11px 15px;
  font-size: 15px;
  white-space: nowrap;
  border-top: 1px solid #f0f0f0;
}
/* end */

/*--custom pagenation--*/
.ek_pagination {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 15px;
}
.row_select {
  height: 24px;
  display: flex;
  align-items: center;
}
.row_select.rowcount{
  font-size: 15px;
  opacity: 0.5;
  margin: 0px 10px;
}
.pager_box {display: flex;align-items: center;}
.pager_ {
  padding: 0;
  margin: 0 5px;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.pager_ li {margin: 0 2px;}
.pager_ a,.pager_btn{
  text-decoration: none;
  display: flex;
  min-width: 24px;
  height: 25px;
  border: 1px solid #ddd;
  border-radius: 2px;
  line-height: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: .85rem;
  color: #808080;
  padding: 0px 2px!important;
  transition: background-color 0.3s, color 0.3s;
}
.pager_ a:hover, .pager_ a.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}
.pager_btn:disabled {cursor: not-allowed;color: #ddd;}
.jumper{padding-left: 10px;color: #808080;font-size: 15px;}
.jumper select{
  border: 1px solid #e2e2e2;
  border-radius: 2px!important;
  background-color: #fff;
  color: #808080;
  font-size: 14px;
  margin-left: 5px;
  height: 25px;
}
/*-- end custom pagenation--*/

/* inventory */
.productImg_t{
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid #f5f5f5;
  background-color: #fff;
  border-radius: 3px;
}
.productImg_t img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.productTitle_t{
  min-width: 150px;
  font-weight: 600;
  max-width: 150px;
  white-space: normal;
  word-wrap: break-word;
}
input.stock_t,.changeStatus_t.form-select{
  width: 48px;
  height: 26px;
  padding: 3px 5px!important;
  border: 1px solid #e5e5e5;
  border-radius: 4px!important;
  text-align: center;
  font-size: 14px;
  line-height: 100%!important;
  background-color: #fafafa!important;
}
.changeStatus_t.form-select{
  width: 98px;
  text-align: left;
  padding-bottom: 4px!important;
  background-position: right 3px top 7px;
  background-size: 8px 11px!important;
  position: relative;
}
.w_50_f{width: 55px;}
.tableTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.cardhead{
  padding-bottom: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.cardtitle{
  font-size: 22px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  line-height: 22px;
}
.fs-12{font-size: 12px;}
.featureslisting{
  margin-top: 15px;
  margin-left: 0px;
  padding-left: 15px;
}
.featureslisting .featurescontent{
  background-color: #fafafa;
  border: 1px solid #eee;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 10px;
  padding: 7px 65px 7px 10px;
  position: relative;
}
.f_btn_rightSide{
  width: 60px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.addrowTable.normalTable{border: 1px solid #eeeeee;}
.normalTable.addrowTable thead tr th,
.normalTable.addrowTable tbody tr td{padding: 8px 13px !important;border-right: 1px solid #eee;}
 input.smallInput_n,select.smallInput_n{
  width: 74px;
  height: 28px;
  padding: 4px 5px!important;
  border: 1px solid #e0e0e0;
  border-radius: 4px!important;
  text-align: center;
  font-size: 14px;
  line-height: 100%!important;
}
select.smallInput_n{text-align: left;}
.smallInput_n.w_40{width: 40px!important;}
.addNewRow{
  border: 1px solid #E0E0E0;
  background-color: #EEEEEE;
  padding: 3px 6px;
  border-radius: 3px;
  margin-top: 5px;
  float: right;
  font-size: 14px;
}
.addNewRow:hover{background-color: #E0E0E0;}
.deleteRow{
  width: 24px;
  height: 28px;
  border: 1px solid transparent;
  color: indianred;
  border-radius: 2px;
  float: right;
  background-color: transparent;
  position: relative;
  top: 1px;
}
.totext{
  display: inline-block;
  padding: 0px 6px;
  color: #ccc;
}
.eklabel_w .eklabel{width: 80px;}
.subheading{
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  margin: 8px 0px;
}
/* end */
.a_link{color: #007bff!important;text-decoration: none;}
.a_link:hover{color: #007bff!important;text-decoration: underline;}

/* tag input */
.tag-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #dee2e6;
  background-color: #fff;
  border-radius: 4px;
  min-height: 34px;
}
.tag {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 16px;
  padding: 0px 10px 3px 10px;
  margin: 2px;
  height: 28px;
  line-height: 100%;
}
.tag span {margin-right: 5px;}
.tag .remove-tag {
  cursor: pointer;
  font-weight: bold;
  color: #888;
  position: relative;
  right: -3px;
  top: -1px;
}
.tag .remove-tag:hover{color: indianred;}
.tag-input input {
  border: none;
  outline: none;
  padding: 5px;
  flex-grow: 1;
}
.tag-input input::placeholder {color: #999;}
.file-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.file-input {
  display: none;
}
.file-label {
  display: flex;
  height: 36px;
  width: 96px;
  color: #fff;
  background-color: #FECA40;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.file-label:hover{opacity: 0.85;}
.file-name {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}
.uploadContainer{
  width: 450px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  padding: 20px 20px;
  min-height: 150px;
}
.u_d_text{
  font-size: 17px;
  opacity: 0.75;
  position: relative;
  padding-left: 34px;
  line-height: 20px;
}
.u_d_text i{
  position: absolute;
  left: 2px;
  top: 3px;
  font-size: 22px;
  color: #FECA40;
}
.uploadContainer_p{
  display: flex;
  margin-top: 15px;
}
.bt_arrow{
  min-height: 150px;
  width: 60px;
  transform: scaleX(2.4);
  align-items: center;
  display: flex;
  justify-content: center;
  opacity: 0.75;
}
.multi-row {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}
.image-upload-box,.video-container{
  position: relative;
  width: 110px;
  height: 110px;
  border: 1px solid #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.video-container{padding: 0px;}
.placeholdertext,.video-placeholder{
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  text-align: center;
  left: 1px;
  top: 1px;
  background-color: transparent;
  border: 1px solid transparent;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.placeholdertext img {
  width: 44px !important;
  height: 44px !important;
  opacity: 0.6;
}
.placeholdertext h6,.video-placeholder h6{
  font-size: 14px;
  color: #999 !important;
  margin-top: 4px;
}
.image-upload-box input[type="file"] {display: none;}
.image-upload-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.delete-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: none;
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 11px;
  line-height: 18px;
  z-index: 5;
}
.image-upload-box img:only-child + .delete-icon {display: block;}
.imagecontainer {margin-top: 15px;border: 1px solid #eee;padding: 15px;border-radius: 4px;}
.imagecontainer .ek_group{ margin-bottom: 10px;}
.single-row{margin-bottom: 12px;}
.yesblock, .noblock {display: none;}
.single-row{display: flex;}
.v_t_c_s{
  width: 200px;
  border: 1px solid #eee;
  margin-left: 12px;
  margin-top: 22px;
}
.v_t_c_s thead tr th{
  font-size: 14px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  background-color: #fafafa;
  padding: 5px 15px;
  font-weight: normal;
}
.v_t_c_s tbody tr td{
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 8px 15px;
}
.v_t_c_s thead tr th:nth-last-child(2),.v_t_c_s tbody tr td:nth-last-child(2){border-right: none;}
.single-row .image-upload-box{width: 245px;height: 245px;}
.lookdisable{color: #ccc!important;pointer-events: none;}
video {
  width: 100%;
  height: 100%;
  display: none;
  object-fit: fill;
  cursor: pointer;
}
.play-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  display: none;
  pointer-events: none;
}
.video-container .file-input {display: none;}
/* end */


/* ekomtab */
.ekom_tab{
  border-bottom: 1px solid #eee;
  margin-bottom: 15px!important;
}
.addProductForm{
  min-height: calc(100vh - 350px);
}
.ekom_tab.nav-underline .nav-link{
  color: #282828;
  font-size: 17px;
  opacity: 0.5;
  padding: 8px 10px;
  cursor: pointer;
}
.ekom_tab.nav-underline .nav-link.active, .ekom_tab.nav-underline .show > .nav-link{
  color: #feca40;
  opacity: 1;
  font-weight: inherit;
}
.btnekomn.previous_Tab{
  background-color: #272B35!important;
  border-color: #272B35!important;
  width: 100px;
}
.btnekomn.next_Tab{min-width: 140px;}
/* end */


/* order */
.subheadingFlex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.o_bannerimg {
  border-radius: 3px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 4px 0px;
  margin-bottom: 15px;
}

/* bulk uplaod list css popup  */

.popup-button {
  color: #feca40;
  background: none;
  border: none;
  cursor: pointer; /* Added for better UX */
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 225px;
}
.sku_inline {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}
.sku_list {
  width: 150px;
  position: relative;
}
.sku_list:hover .remove_sku {
  display: block;
}
.remove_sku {
  position: absolute;
  right: -4px;
  color: red;
  top: -7px;
  z-index: 10;
  width: 18px;
  height: 18px;
  font-size: 11px;
  border-radius: 50%;
  border: 1px solid #ddd;
  box-shadow: inset 0px 0px 8px #ddd;
  text-align: center;
  box-sizing: border-box;
  background-color: #fafafa;
  display: none;
  cursor: pointer;
  padding-top: 1px;
}
.addSkuBtn,
.addSkuBtn:hover,
.addSkuBtn:focus {
  border: 1px solid #ddd !important;
  background-color: #e0e0e0;
  height: 33px;
  border-radius: 16px !important;
  text-align: center;
  position: relative;
  top: 1px;
  padding: 2px 15px;
}

#popupDialog {
  width: 90%;
  max-width: 600px; /* Sets a max width for larger screens */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1001;
  max-height: 80vh; /* Adjusts height relative to viewport */
  overflow-y: auto;
  border-radius: 8px; /* Added for better aesthetics */
  
}


/* Media queries for responsiveness */
@media (min-width: 600px) {
  #popupDialog {
    width: 70%;
  }
}

@media (min-width: 768px) {
  #popupDialog {
    width: 60%;
  }
}

@media (min-width: 992px) {
  #popupDialog {
    width: 50%;
  }
}

.popup-btn{
  float: right;
}


/* Media queries for responsiveness */
@media (min-width: 600px) {
  #popupDialog {
    width: 70%;
  }
}

@media (min-width: 768px) {
  #popupDialog {
    width: 60%;
  }
}

@media (min-width: 992px) {
  #popupDialog {
    width: 50%;
  }
}
.payInvoiceTable {
  width: 100%;
}
.payInvoiceTable thead tr th {
  padding: 8px 13px !important;
  box-sizing: border-box;
  background-color: #f8f8f8;
  cursor: default;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  word-wrap: break-word;
  white-space: nowrap;
  width: auto;
  border-bottom: 1px solid #eee;
}
td.text-right,
th.text-right {
  text-align: right !important;
}
.payInvoiceTable tbody tr td {
  padding: 7px 13px !important;
  font-size: 14px;
}
.payInvoiceTable tbody tr td:last-child{width: 200px;}
.stock_t.w_90 {
  width: 90px !important;
}
.payInvoiceTable tbody tr:nth-last-child(1){
  border-top: 1px solid #eee;
}
.sectionspace {
  padding-bottom: 40px;
}
.productTitle_t3{max-width: 300px;}
.shippingRow{
  border-top: 1px solid #eee;
}
.pointer{cursor: pointer;}
.info_inline{
  display: inline-block;
  font-size: 14px;
}
.payInvoiceTable input.stock_t{
  height: 22px;
}
.file-label.invice{
  display: flex;
  height: 28px;
  padding: 2px 10px;
  color: #222;
  background-color: #f0f0f0;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s ease;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 0px!important;
  position: relative;
  font-weight: bold;
  top: 2px;
}
input[readonly="readonly"],input[readonly]{
  background-color: #fafafa!important;
}
.orderStatus_d{
  display: flex;
  gap: 5px;
  column-gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}
.addressbox{
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
}
.normalinput{
  height: 34px;
  border: 1px solid #eee;
  padding: 0px 10px;
}
.d-flex-ek{
  display: flex;
  column-gap: 5px;
  flex-direction: row;
  flex-wrap: wrap;
}
.detailSku{font-weight: normal;font-size: 15px;}
.detailSku span{display: inline-block;margin-left: 5px;}
.detailSku span::after{content: ',';}
.detailSku span:last-child::after{content: none;}
.star-rating{
  display: flex;
  font-size: 24px;
  column-gap: 4px;
}
.star {
  cursor: pointer;
  color: #ccc;
  transition: color 0.2s;
}
.star.hover,.star.active {color: #FECA40;}
.rateustext{margin-top: 2px;margin-right: 5px;}
textarea.resizer_none{resize:none!important;}
.CancelOrderbtn{
  border-radius: 16px!important;
  color: #777;
  background-color: #eee;
  border: 1px solid #eee;
}
.CancelOrderbtn.nm{
  position: relative;
  top: -22px;
}
.CancelOrderbtn:hover{background-color: #eee;border: 1px solid #eee;}
/* end order */